*{
	box-sizing: border-box;
}


/*============================================
HEADER
*/

nav > ul > li > a:link{
	text-decoration: none;
}
nav > ul > li > a:visited { 
	text-decoration: none; 
	color: white;
	}
nav > ul > li > a:hover { color: black; }
nav > ul > li > a:active { 
	text-decoration: none; 
	color: white;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	background-color: blue;
}

nav > a{
	margin-left: 40px;
}

nav > ul{
	display: flex;
	margin: auto;
	justify-content: space-around;
	width: 50%;
}

nav > ul > li{
	padding: 20px 40px;
	background-color: orange;
	border-radius: 50%;
}
/*=============================================*/




/*==============================================
BODY
*/


body > section{
	background-color: lightblue;
}

section > div{
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
}

h1{
	font-size: xx-large;
	padding-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	font-weight: bold;
}

p{
	padding: 25px 20px;
}

/*=============================================*/



/*form*/
form{
	padding: 25px 20px;
}

fieldset > *{
	margin-bottom: 30px;
}




/*============================================
FOOTER*/
footer{
	background-color: lightblue;
	
}


footer > div{
	display: flex;
	justify-content: space-around;
	padding: 50px 50px;
}


footer > div > ul > li{
	padding-top: 5px;
	padding-bottom: 5px;
}

h2{
	color: darkblue;
	font-size: large;
	padding-bottom: 10px;
}


footer > div > ul > li > a:link{
	text-decoration: none;
}
footer > div > ul > li > a:visited { 
	text-decoration: none; 
	color: darkgray;
}
footer > div > ul > li > a:hover {
	color: white; 
}
footer > div > ul > li > a:active { 
	text-decoration: none; 
	color: darkgray;
}

h2:first-letter {
	text-transform: uppercase;
}



